services:
  app:
    build: .
    container_name: node_app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules  # Evita sobrescrever node_modules
    working_dir: /usr/src/app
    command: npm start